<table mat-table [dataSource]="profitsTable" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="stockName">
      <th mat-header-cell *matHeaderCellDef> company </th>
      <td mat-cell *matCellDef="let element"> {{element.folio.companyName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="avarage price">
      <th mat-header-cell *matHeaderCellDef> avarage price </th>
      <td mat-cell *matCellDef="let element"> {{element.folio.avaragePrice | currency:"$"}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> amount </th>
      <td mat-cell *matCellDef="let element"> {{element.folio.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="profit">
      <th mat-header-cell *matHeaderCellDef> profit </th>
      <td mat-cell *matCellDef="let element"> {{element.folio.profits | currency:"$"}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> value </th>
      <td mat-cell *matCellDef="let element"> {{element.value | currency:"$"}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<!-- displayedColumns: string[] = ['stockName', 'avarage price', 'amount', 'profit', 'value']; -->